<!-- - - - - - - - - - - - - - - - 修改店铺信息- - - - -  - - - - - - - - - - - - - - - - -->
<style>
  #myform input{
     margin-top:6px;
   }
  #myform textarea{
    margin-top:6px;
  }
  #myform label{
    margin-top:6px;
  }
  #myform select{
    margin-top:6px;
  }
</style>
<script >
//---先校验，为true 才提交
   function onSubPub(){
       if (pubform.shopname.value == '') {
           alert('营业点名称不允许为空');
           pubform.shopname.focus();
           return false;
       }
       if (pubform.shopintr.value == '') {
           alert('营业点简介不允许为空');
           pubform.shopintr.focus();
           return false;
       }
       if (pubform.shoptype.value == '') {
           alert('营业点类型不允许为空');
           pubform.shoptype.focus();
           return false;
       }
       if (pubform.keywords.value == '') {
           alert('关键词不允许为空');
           pubform.shopname.focus();
           return false;
       }
       if (pubform.photourl.value == '') {
           alert('店铺图片不允许为空');
           pubform.photourl.focus();
           return false;
       }
       return true;
   }

function onStpPub(){//异步方法，$.post与 return 都是一个方法，两个同时执行
  $.post('/home/shpeStopause',$('#stpform').serialize(),function(rehtml){
  //serialize()提交表单中的所有元素
    if(rehtml==1){
      alert('成功');
      $('#myModal').modal('hide');



     
    }else{
      alert('失败');
    }
  });
  return false;//不可改成true ，防止 ajax未与数据库交互完成就提交
}

 
   
</script>
<!-- - - - - - - - - - - - - - - 模态框 - - - - - - - - - - - - - - - -->
<div class="modal fade" id="updModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">     
    <form  id = 'pubform' name= 'pubform' method="post" action="./shopModify"onsubmit="return onSubPub();" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
              修改我的店铺信息
          </h4>
        </div>
        <div class="modal-body" style="margin: 20px 20px 20px 20px ; border-left: 35px;">         
          <div class="form-group" id='myform'>
            <input type="text" class="form-control" name="shopname" placeholder="请输入营业点名称" value="<%-shopRs[0].shopname%>">
            <textarea class="form-control" rows="5" name="shopintr" placeholder="请输入营业简介" style=" text-indent: 0px" >  
                <%-shopRs[0].shopintr%>
            </textarea>
            <input type="text" class="form-control" name="keywords" id="name" placeholder="请输入查询关键词" value="<%-shopRs[0].keywords%>">
            <select class="form-control" name="shoptype">

            <%shoptypeRs.forEach(function(row){%>
              <%if(row.id == shopRs[0].shoptype){%>
              <option value="<%-row.id%>"><%-row.typename%></option>
              <%}else{%>    
              
              <option value="<%-row.id%>"><%-row.typename%></option>               
              <%}%>
            <%})%>

            </select>
            <label for="lastname" class="col-sm-2 control-label">店铺图片</label>
            <img src="<%-shopRs[0].photourl %>" style="width: 100px;height: auto;"/>
            <input type="file" id="inputfile" name = 'photourl' >
            <!-- <input type="hidden" name="lng">
            <input type="hidden" name="lat"> -->
          </div>
        </div>
          <div class="modal-footer">           
            <input type="submit" class="btn btn-primary" onclick='dian();' value ='确认修改'>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
          </div>
        </div><!-- /.modal-content --> 
      </form>
   </div><!-- /.modal -->
</div>

<!-- -  - - - - - - - - - - -  - - - - -关停店铺 - - - - - -  - - - - - - - - - - -  - - -->

<!-- - - - - - - - - - - - - - - 模态框 - - - - - - - - - - - - - - - -->
<div class="modal fade" id="stpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">     
    <form  id = 'stpform' name= 'stpform' method="post" onsubmit="return onStpPub();" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
              关闭或暂停店铺
          </h4>
        </div>
        <div class="modal-body" style="margin: 20px 20px 20px 20px ; border-left: 25px;">         
          <div class="form-group" id='stopform'>
            <textarea class="form-control" rows="5" name="stopReason" placeholder="请填写关停理由"></textarea>
          </div>
        </div>
          <div class="modal-footer">           
            <input type="submit" class="btn btn-primary" onclick='stoPause();' value ='关停店铺'>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
          </div>
        </div><!-- /.modal-content --> 
      </form>
   </div><!-- /.modal -->
</div>


<!-- 商品信息详情start -->
<div class="modal fade" id="showAllModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">     
   <form id='showAllGoodsMessage' name='showAllGoodsMessage' method="post" action='./pubgoods'  enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
              我的商品信息
          </h4>
        </div>
        <div class="modal-body" style="margin: 20px 20px 20px 20px ; border-left: 35px;">         
          <div class="form-group" id='myform'>
             <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><input type="text" class="form-control" name="goodsname" placeholder="请输入商品名称">
                      <input type="hidden" name="goodsid" id="goodsid"> 
                    </td>
                  </tr>
                  <tr>
                    <td>
                       请选择商品图片<input type="file" name="goodsimg">
                       <img id="goodsImgShow" src="" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-control" name='typeid'>
                        <option value="0">请选择商品类别</option>
                        <option value="1">重机</option>
                        <option value='2'>车辆</option>
                        <option value="3">模具</option>
                        <option value="4">其他</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="number" class="form-control" name="price" placeholder="请输入价格" step='0.01'>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      商品介绍
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <% include ueditor %>
                    </td>
                  </tr>
                  <tr>
                    <td align='center'>
                      <input type='hidden' name='shopid' value='<%-shopRs[0].id%>'/>
                      <button type="submit" class="btn btn-success">提交</button>&nbsp;
                      <button type="button" class="btn btn-success" onclick='hideGoodsForm()'>收起</button>
                    </td>
                  </tr>
                </tbody>
              </table>
         
          </div>
        </div>
        
          <div class="modal-footer">           
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
          </div>
        </div><!-- /.modal-content --> 
      </form>
   </div><!-- /.modal -->
</div>
