<% include ../head %>


		

			<script>
				window.onload = function(e) {

					<% rs.forEach(function(row){%>
					var marker = new AMap.Marker({
						map: map,
						position: [<%-row.lng%>,<%-row.lat%>],
						title: '<%-row.shopname%>',

						icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
						offset: new AMap.Pixel(-10, -34)
					});
					
					marker.setMap(map);
					marker.setLabel({
						offset: new AMap.Pixel(-10, -20),
						content: '<%-row.shopintr%>'
					});
					<%})%>
				}

				var count = 0;
				var evt = null;



				AMap.event.addDomListener(document.getElementById('updateMarker'), 'click', function() {
					marker && updateMarker();
				}, false);


				function addMarker() {
					marker = new AMap.Marker({
						icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
						position: [116.405467, 39.907761]
					});
					marker.setMap(map);
				}
				
			</script>
		</div>
		   
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.3&key=c3c196ff3c8b93ae396a0a45d6753fcc"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<body>

<style>
	#myform input{
		margin-top:6px;
	}
	#myform textarea{
		margin-top:6px;
	}
	#myform label{
		margin-top:6px;
	}
	#myform select{
		margin-top:6px;
	}
</style>
<script>
	function onSubPub(){
		if (pubform.shopname.value=='') {
			alert('营业点名称不能为空');
			pubform.shopname.focus();
			return false;
		}
		if (pubform.shopintr.value=='') {
			alert('营业点简介不能为空');
			pubform.shopintr.focus();
			return false;
		}
		if (pubform.shoptype.value==0) {
			alert('请选择营业类别');
			pubform.shoptype.focus();
			return false;
		}

		return true;
	}
	</script>
<div class="row" style="margin-top: 20px; ">
      	<div class="col-sm-1 col-md-1"'></div>
      	<div class="col-sm-2 col-md-2"   style='background-color: #aaa;border-radius: 15px;' >
	      	<% include ./left %>
      	</div>
      	<div class="col-sm-8 col-md-8" id='main'>
      	<div id='toolbar' style="height: 27px;">找到地图中准确位置，点击建立营业点</div>
		<div id="mapContainer" style='width:100%;height:500px;border-radius: 15px;margin-left: 15px; margin-top:27px ;'>
<script>
	      		//初始化地图对象，加载地图
			    var map = new AMap.Map('mapContainer', {
					view: new AMap.View2D({
						center: new AMap.LngLat(116.397428, 39.90923),
						zoom: 18
					})
			    });
			    AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
				    function(){
				        map.addControl(new AMap.ToolBar());

				        map.addControl(new AMap.Scale());

				        map.addControl(new AMap.OverView({isOpen:true}));
				});

				function eventHandler(e){
					
					pubform.lng.value=e.lnglat.getLng();
					pubform.lat.value=e.lnglat.getLat();
					$('#myModal').modal('show');
				}
			    var listener = AMap.event.addListener(map,"click",eventHandler);
	      	




						
			

</script> 
<!-- <form method="post" id="markedForm"> -->
		
<!---------------- 模态框 ---------------------------->
	      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			<form name="pubform" method="post" action="./pubshop" onsubmit="return onSubPub();" enctype="multipart/form-data">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							填写营业点信息
						</h4>
					</div>
					<div class="modal-body">
						<div class="modal-body">
						<div class="form-group" id='myform'>
						    <input type="text" class="form-control" name="shopname" placeholder="请输入营业点名称">

						    <textarea class="form-control" rows="5" placeholder="请输入营业简介" name='shopintr'></textarea>
						    <input type="text" class="form-control" name='keywords' placeholder="请输入查询关键词">
						    <select class="form-control" name='shoptype'>
						      <option value='0'>请选择经营类别</option>
						      <% rs.forEach(function(row){ %>
						      <option value='<%-row.id%>'>
						      <%-row.typename%>
						      </option>
						      <%})%>
						    </select>
						    <label for="lastname" class="col-sm-2 control-label">店铺图片</label>
						    <input type="file" id="inputfile" name='photourl'>
						    <input type='hidden' name='lng'>
						    <input type='hidden' name='lat'>
					  </div>
					</div>
					<div class="modal-footer" style="text-align: center;">
					
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<input type="submit" class="btn btn-primary" onclick='dian();' value='提交'>
						</input>
					</div>
				</div>

				
				</form><!-- /.modal-content -->
			</div><!-- /.modal -->
		
		</div>
	<!-- </form>		 -->
			
		

</div>
      	<div class="col-sm-1 col-md-1"></div>
	</div>
	
  </body>
</html>